[submodule "dijkstra"]
	path = dijkstra
	url = https://github.com/iszczesniak/dijkstra
[submodule "generic_dijkstra"]
	path = generic_dijkstra
	url = https://github.com/iszczesniak/generic_dijkstra
[submodule "units"]
	path = units
	url = https://github.com/iszczesniak/units
[submodule "graph"]
	path = graph
	url = https://github.com/iszczesniak/graph2
[submodule "props"]
	path = props
	url = https://github.com/iszczesniak/props
